@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model Data.Models.Category
@section TitleContent
{
    <h1><i class="icon-dashboard"></i>Edit Category</h1>
}
@section jsFooter{
    <script>
        $('#txtImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#txtImage').val(fileUrl);
                $('#img').css("display", "block");
                $('#img').attr("src", fileUrl);
            };
            finder.popup();
        });
        $('#txtIcon').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#txtIcon').val(fileUrl);
                $('#ico').css("display", "block");
                $('#ico').attr("src", fileUrl);
            };
            finder.popup();
        });
        $('#form-product-insert').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'icon icon-ok',
                invalid: 'icon icon-remove',
                validating: 'icon icon-refresh'
            },
            fields: {
                Name: {
                    validators: {
                        notEmpty: {
                            message: 'The Category Name is required'
                        }
                    }
                }
            }
        });
    </script>
}
<div class="widget">
    <h3 class="section-title first-title">
        <i class="icon-table"></i>Category Info
    </h3>
    <div class="widget-content-white glossed">
        <div class="padded">
            @using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", id = "form-product-insert" }))
            {
                <h3 class="form-title form-title-first">
                    <i class="icon-terminal"></i> Input Form
                </h3>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Category ID</label>
                    <div class="col-xs-10">@Html.TextBoxFor(model => model.ID, new { @class = "form-control",@readonly=true})</div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Category Name</label>
                    <div class="col-xs-10">@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @name = "Name" })</div>

                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Image</label>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(model => model.Image, new { @class = "form-control", @id = "txtImage" })
                        <div class="img-responsive" style="padding-top: 5px">
                            <img id="img" src="/Data/Images/images/@Model.Image" style="width: 200px; height: 160px" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">Icon</label>
                    <div class="col-xs-10">
                        @Html.TextBoxFor(model => model.Icon, new { @class = "form-control", @id = "txtIcon" })
                        <div class="img-responsive" style="padding-top: 5px">
                            <img id="ico" src="/Data/Images/images/@Model.Icon" style="width: 200px; height: 160px" />
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-10 pull-right">
                        <button type="submit" onclick="form.action = '/Admin/Categories/Edit'" class="btn btn-primary">Update</button>
                        <a href="/Admin/Categories/Index" class="btn btn-warning">Cancel</a>
                    </div>

                </div>

            }
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
