@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model IPagedList<Data.Models.Category>
@using PagedList;
@using PagedList.Mvc
@section TitleContent
{
    <h1><i class="icon-dashboard"></i> Categories</h1>
}
@section JsFooter{
  
}
<div class="widget">
    <h3 class="section-title first-title">
        <i class="icon-table"></i>List Categories

    </h3>

    <div class="widget-content-white glossed">
        <div class="padded">
            @using (@Html.BeginForm())
            {
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Category Image
                            </th>
                            <th>
                                Category Icon
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>
                                    @item.Name
                                </td>
                                <td>
@item.Image
                                  
                                </td>
                                <td>
                                    @item.Icon
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Categories")/@item.ID" class="btn btn-warning btn-sm">
                                        <i class="icon icon-edit"></i>
                                    </a>
                                    @Ajax.ActionLink(" ", "Delete", new { @id = item.ID }, new AjaxOptions()
                                {
                                    Confirm = "Do you want to delete this category?",
                                    OnComplete = "$('#row_" + @item.ID + "').remove()",
                                    HttpMethod = "Delete"
                                }, new { @class = "btn delete-asset btn-danger btn-sm icon icon-trash" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                <a class="btn btn-primary btn-lg" href="/Admin/Categories/Create">Create new + </a>
            }
        </div>
    </div>
</div>
