@model IPagedList<Data.Models.Supplier>
@using PagedList;
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent
{
    <h1><i class="icon-dashboard"></i> Suppliers</h1>
}

<div class="widget">
    <h3 class="section-title first-title">
        <i class="icon-table"></i>List Suppliers

    </h3>

    <div class="widget-content-white glossed">
        <div class="padded">
            @using (@Html.BeginForm())
            {
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Logo
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>
                                    @item.ID
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Logo

                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Phone
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Suppliers")/@item.ID" class="btn btn-warning btn-sm">
                                        <i class="icon icon-edit"></i>
                                    </a>
                                    @Ajax.ActionLink(" ", "Delete", new {@id = item.ID}, new AjaxOptions()
                                    {
                                        Confirm = "Do you want to delete this supplier?",
                                        OnComplete = "$('#row_" + @item.ID + "').remove()",
                                        HttpMethod = "Delete"
                                    }, new {@class = "btn delete-asset btn-danger btn-sm icon icon-trash"})
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                <a class="btn btn-primary btn-lg" href="/Admin/Suppliers/Create">Create new + </a>
            }
        </div>
    </div>
</div>
